CONFIG_BUILD_ARM64_DTB_OVERLAY_IMAGE_NAMES="mediatek/selene"
CONFIG_TARGET_PRODUCT_SELENE=y
CONFIG_TARGET_PRODUCT_SELENECOMMON=y
CONFIG_ARCH_MTK_PROJECT="selene"
CONFIG_MTK_AB_OTA_UPDATER=y
CONFIG_MTK_MT6382_BDG=y
CONFIG_MTK_HIGH_FRAME_RATE=y
CONFIG_MTK_REVERSE_CHG_ENABLE=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR=""
CONFIG_CUSTOM_KERNEL_LCM="dsi_panel_k19a_36_02_0a_dsc_vdo dsi_panel_k19a_43_02_0b_dsc_vdo dsi_panel_k19a_36_03_0c_dsc_vdo"
CONFIG_LCM_HEIGHT="2400"
CONFIG_MTK_LENS_CN3927AF_J19_SUPPORT=y
CONFIG_MTK_LENS_GT9764AF_SUPPORT=y
CONFIG_TCPC_RT1711H=y
CONFIG_TCPC_FUSB302=y
CONFIG_MTK_CAMERA_ISP_TSF_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_OWE_SUPPORT=y
CONFIG_MTK_CAMERA_ISP_MFB_SUPPORT=y
CONFIG_CHARGER_BQ2589X_CHARGER=y
CONFIG_TOUCHSCREEN_FTS_XIAOMI=y
CONFIG_SND_SOC_AW87559=y
CONFIG_SND_SOC_FS16XX=y
# CONFIG_NXP_P73_DEVICES is not set
# CONFIG_NFC_PN553_19A_DEVICES is not set
CONFIG_MTK_MT6382_BDG_BUF7=y
# selene teshis: cekirdek erken oluyor ve hicbir log birakmiyor.
# Bootloader cmdline ini KORUYARAK (ramoops.mem_address oradan geliyor)
# ustune ayrintili gunluk bayraklarini ekle.
CONFIG_CMDLINE="ignore_loglevel initcall_debug"
# CONFIG_CMDLINE_FROM_BOOTLOADER is not set
CONFIG_CMDLINE_EXTEND=y

# selene: cekirdek afisi. uname -r ciktisinda gorunur.
# utsrelease 64 karakterle SINIRLI; taban 21 karakter yiyor.
# "pre" = prerelease. LOCALVERSION_AUTO kapali -> git hash eklenmez.
CONFIG_LOCALVERSION="-LittleSpammyMailman-v0.1-bringup-pre"
# CONFIG_LOCALVERSION_AUTO is not set

# selene: Type-C port denetleyicisi. TCPC_CLASS olmadan
# tum tcpc alt sistemi derlenmiyor, port yonetilmiyor, sarj gorusmesi olmuyor.
CONFIG_TCPC_CLASS=y
CONFIG_TCPC_WUSB3801=y
# CONFIG_COMPAT_VDSO is not set
